<!DOCTYPE html>
<html>
    <head>
        <title>My contact</title>
    </head>
    <body>
        <nav>
            <a href="/">
              Home
            </a>
            &nbsp
          
            <a href="/contact">
              Contact
            </a>
            &nbsp
          
            <a href="/post">
              Posts
            </a>
            &nbsp
          
        </nav>
        <h1>Đây là thông tin của tôi</h1>
        <p>Lương Tuấn Dương - CACLC2-K63-QH2018</p>
        <p>Email: ltduong1406@gmail.com</p>
        <p>Số điện thoại: 0123456789</p>
    </body>
</html>