<!DOCTYPE html>
<html>
    <head>
        <title>Bài 1</title>
    </head>
    <body>
        <h1>Bài 1</h1>
        <i>01/01/2020</i>
        <p>Xin chào</p>
        <p>Cập nhật dịch bệnh COVID-19 tại bản tin 14h hàng ngày.</p>
        <p>Tính đến 14h00 hôm nay, theo thống kê của worldometers.info:</p>
        <p>* Thế giới: 22.582.785 người mắc; 791.034 người tử vong; 15,307.635 người bình phục.</p>
        <p>* Việt Nam: 994 người mắc; 533 người điều trị khỏi, 25 người tử vong</p>
        <p>215 quốc gia, vùng lãnh thổ (trong đó có 2 tàu du lịch) ghi nhận ca mắc COVID-19.</p>
        <br/>

        <a href = "/post"> &lt &lt Back</a>
    </body>
</html>