<!DOCTYPE html>
<html>
    <head>
        <title>Introduction</title>
    </head>
    <body>
        <nav>
  
            <a href="/">
              Home
            </a>
            &nbsp
          
            <a href="/contact">
              Contact
            </a>
            &nbsp
          
            <a href="/post">
              Posts
            </a>
            &nbsp
          
        </nav>
        <h1>Blog của tôi</h1>
        <p>Xin chào, tôi là Dương</p>
        <p>Tôi là sinh viên năm 3 của trường Đại học Công nghệ.</p>
        <p>Là người con của quê hương Ninh Bình</p>
    </body>
</html>